.supplier_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.2;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #ffffff 40px
    ),
    repeating-linear-gradient(#81c78455, #81c784);
}

.content_container {
  padding: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container_header {
  color: var(--main-font-color);
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}

.top_starting_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top_btns_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content_holder {
  margin-top: 20px;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data_grid_mods {
  width: 100%;
}

.input_row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.input_row:nth-child(1) {
  margin-top: 30px;
}

.btn_add_supplier {
  width: 180px;
  margin: 10px;
}

.btn_container_add_supp {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.alert_state {
  width: 95%;
}
