.signin_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin_content {
  width: 100%;
  max-width: 950px;
  height: 100%;
  max-height: 680px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(201, 199, 199);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs_column {
  width: 40%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.placeholder_column {
  width: 60%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bw_signin_logo {
  width: 150px;
  margin: 0 auto;
}

.signin_heading {
  margin-left: 5px;
}

.signin_tooltip {
  color: grey;
  font-size: 0.8em;
  margin-left: 5px;
  margin-bottom: 20px;
}

.alternate_text {
  color: grey;
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .signin_content {
    flex-direction: column;
    max-width: 90%;
    max-height: none;
    height: auto;
  }

  .inputs_column {
    width: 100%;
    padding: 30px 20px;
    align-items: center;
  }

  .placeholder_column {
    display: none;
  }

  .bw_signin_logo {
    margin: 0 auto;
  }

  .signin_heading,
  .signin_tooltip,
  .alternate_text {
    text-align: center;
    margin-left: 0;
  }

  .signin_heading {
    width: 100%;
  }

  .signin_tooltip,
  .alternate_text {
    width: 100%;
  }
}
