.sidebar_container {
  width: 100px;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  transition-duration: 0.5s;
  padding: 10px;
}

.toggler_button {
  position: absolute;
  top: 20px;
  right: -15px;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #81c784;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform-origin: center;
  transition-duration: 0.5s;
  cursor: pointer;
}

.toggle_sidebar {
  transform: rotate(-180deg);
  transform-origin: center;
  transition-duration: 0.5s;
}

.activate_sidebar {
  width: 200px;
  transform-origin: left;
  transition-duration: 0.5s;
}

.sidebar_logo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.sidebar_logo_img {
  width: 100px;
}

.sidebar_link_container {
  width: 100%;
  height: 85%;
  transform: translateY(-20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main_section {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  margin: 10px 0;
  color: grey;
  font-size: 0.9em;
  font-weight: 600;
}

.sidebar_link_cont_box {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  color: grey;
  margin: 2px 0;
  overflow: hidden;
  border-radius: 4px;
  transform-origin: left;
  transition-duration: 0.5s;
  font-size: 0.9em;
  cursor: pointer;
}

.selected_link_cont_box {
  background-color: rgba(123, 237, 159, 0.3);
  color: green;
}

.sidebar_link_name {
  margin-left: 10px;
  text-transform: capitalize;
}

.active_cont_box {
  width: 180px;
}

.sub_section_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
