.insight_box_container {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid #dfe4ea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 15px 0 0;
  padding: 10px;
  background-color: white;
  z-index: 1;
}

.insight_box_container:nth-child(3) {
  width: 350px;
}

.card_details {
  display: flex;
  color: #a4b0be;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
}

.insight_name {
  font-size: 1.2em;
  margin-left: 10px;
  font-weight: 500;
}

.valuation_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.percentage_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.insight_percentage {
  margin-left: 8px;
  font-size: 0.9em;
  font-weight: 600;
}

.insight_value {
  font-size: 1.7em;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}

.profit {
  color: green;
}

.loss {
  color: red;
}
