.reports_main_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.2;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #ffffff 40px
    ),
    repeating-linear-gradient(#81c78455, #81c784);
}

.content_container {
  padding: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container_header {
  color: var(--main-font-color);
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}

.top_btns_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top_starting_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content_holder {
  margin-top: 20px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expired_items_container {
  width: 95%;
  height: 100%;
}

.writeoff_modal_head {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.writeoff_modal_para {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: rgb(54, 54, 54);
  margin-top: 20px;
  width: 90%;
}

.writeoff_btn_container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
